DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres?schema=public"
SITE_URL="http://localhost:3000"
MAIL_USE_PRODUCTION_MAILER=false
MAIL_SMTP_HOST="smtp.gmail.com"
MAIL_SMTP_PORT=587
MAIL_DOMAIN="gmail.com"
MAIL_FROM="your_email"
MAIL_FROM_PASS="your_email_password"
MEDIA_UPLOAD_DIR="public/uploads"
MEDIA_MAX_UPLOAD_SIZE_BYTES=5000000
